<template>
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<DataManager
					:rights="{allowCreate: false, allowEdit: false, allowDelete: false, allowMassDelete: false}"
					i18nPath="{{ snakeCaseModelClassNamePlural }}.data_manager"
					:resource="dataManagerResource"
					:defaultOrderBy="{column: 'id', direction: 'asc'}"
					:pagination="{limiting: false, defaultLimit: 20}"
					:searching="false"
					:store="{stateName: '{{ camelCaseModelClassNamePlural }}', loadingStateName: '{{ camelCaseModelClassNamePlural }}Loading', dispatchAction: 'get{{ modelClassNamePlural }}'}"
					:columns="dataManagerColumns"
					:checkboxes="{enabled: false}"
				></DataManager>
			</div>
		</div>
	</section>
</template>

<script>
	import DataManager from '../includes/data-manager'

	export default {
		name: '{{ modelClassNamePlural }}',

		components: { DataManager },

		computed: {
			dataManagerResource() {
				return {
					name: '{{ camelCaseModelClassName }}',
					routePath: '{{ kebabCaseModelClassName }}',
					routeParamsMap: {
						'{{ camelCaseModelClassName }}Id': 'id',
					},
				}
			},

			dataManagerColumns() {
				return [
					{
						name : 'id',
						class : 'id-column',
						orderable : true,
						order_by_field : 'id',
						routerLink : {
							routeName : '{{ kebabCaseModelClassName }}',
							paramsNames : {
								'{{ camelCaseModelClassName }}Id' : 'id'
							}
						}
					},
				];
			},
		},
	}
</script>